* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-F7D3D3: #F7D3D3;
    --color-F7EBEB: #F7EBEB;
    --color-ffffff: #ffffff;
    --color-000000: #000000;
    --color-301D1E1A: #301D1E1A;
    --color-ffffff76: #ffffff76;
    --color-ffae00ee: #ffae00ee;
    --color-000000d4: #000000d4;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--color-000000d4);    
}

a {
    text-decoration: none;
    color: var(--color-ffffff);
}

.class-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
    gap: 15rem;
}

.class-container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.class-logo {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.class-logo:hover {
    opacity: 1;
    transform: scale(1.1);
}

.class-logo span {
    background-color: var(--color-ffae00ee);
    border-radius: 30%;
    padding: 0 0.2rem;
    color: var(--color-000000);
    text-transform: lowercase;
}

.class-login {
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--color-ffffff76);
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.class-login:hover {
    opacity: 1;
    color: var(--color-000000);
    transform: scale(0.9);
}

.class-home {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 0;
}

.class-home-text {
    text-align: center;
}

.class-home-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.class-post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    margin-top: 2rem ;
}

.class-filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    border: 1px solid var(--color-F7EBEB);
    opacity: 0.8;
    overflow: hidden;
}

.class-filter-item:hover {
    border: 1px solid var(--color-F7D3D3);
    opacity: 1;
}

.class-post {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto; 
}

.class-post-box {
    box-shadow: 0 4px 14px var(--color-301D1E1A);
    padding: 15px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.class-post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
}

.class-post-img:hover {
    transform: scale(1.01);
}

.class-category {
    
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
    margin-bottom: 0.5rem;
}

.class-post-title {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.class-post-date {
    display: flex;
    margin-bottom: 0.05rem;
    font-size: 0.875rem;   
}

.class-post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    margin-top: 1rem;
}